body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    background-color: rgb(1, 1, 17);
    color: bisque;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section:nth-child(1) h1 {
    position: relative;
}

section:nth-child(1) h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, green, red);
    transition: width 1s ease-out;
}

section:nth-child(1) h1:hover::after {
    width: 100%;
}

section:nth-child(2) h1 {
    position: relative;
}

section:nth-child(2) h1::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: linear-gradient(to right, green, red);
    bottom: 0;
    left: 50%;
    transition: 1s ease-in-out;
}

section:nth-child(2) h1:hover::after {
    left: 0;
    width: 100%;

}

section:nth-child(3) h1 {
    background: linear-gradient(to bottom, green 0%, red 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    transition: 2s;
}

section:nth-child(3) h1:hover {
    background-size: 3px 200px;
}

section:nth-child(4) h1 {
    position: relative;
    width: max-content;
}

section:nth-child(4) ::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
}

section:nth-child(4) :hover::before {
    visibility: hidden;
    transition: width 2s, height 1s 2s, visibility 10s 4s;
    border-top: 3px solid rgb(0, 255, 0);
    border-right: 3px solid rgb(0, 255, 0);
    width: 100%;
    height: calc(100% - 3px);
}

section:nth-child(4) ::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    bottom: 0%;
    right: 0%;
    visibility: hidden;
}

section:nth-child(4) :hover::after {
    visibility: visible;
    transition: width 2s 3s, height 1s 5s, visibility 2s 3s;
    width: 100%;
    height: calc(100% - 3px);
    border-bottom: 3px solid rgb(0, 255, 0);
    border-left: 3px solid rgb(0, 255, 0);
}